@import "tailwindcss";

@theme {
    --color-fidel-green-primary: #064e3b;
    --color-fidel-green-secondary: #004d3d;
    --color-fidel-green-highlight: #059669;

    --font-sans: "Plus Jakarta Sans", "Noto Sans Ethiopic", sans-serif;

    --animate-float: float 4s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    touch-action: manipulation;
}

input,
textarea,
select {
    user-select: text !important;
    touch-action: auto !important;
}

body {
    @apply bg-[#fdfdfd] overflow-hidden h-screen w-screen fixed;
    overscroll-behavior-y: none;
}

.glass-panel {
    background-color: rgba(255, 255, 255, 0.85);
    @apply backdrop-blur-2xl border border-white/40;
}

.safe-pt {
    padding-top: calc(12px + var(--sat));
}

.safe-pb {
    padding-bottom: calc(12px + var(--sab));
}